port {{ serverport }}
proto {{ protocol }} # tcp/udp
dev {{ dev }} # tun/tap

{{ dev }}-mtu {{ mtu }}
mssfix {{ mssfix }}
ca {{ capath }}ca.crt
cert {{ capath }}server.crt
key {{ capath }}server.key
dh {{ capath }}dh.pem

server {{ serverip }}
#route {{ route }}
#push {{ clientroute }}

client-config-dir /etc/openvpn/ccd
keepalive 10 120
comp-lzo
persist-key
persist-tun
status /var/log/openvpn/status.log
log /var/log/openvpn/openvpn.log
verb3
