[Unit]
Description= "BORG BACK UP SERVICE"
[Service]
#User=vagrant
#Group=vagrant
Type=oneshot
ExecStart=/bin/sh -c '/root/borg.sh | /usr/bin/logger -t BORGBACKUP'