[Unit]
Description= "BORG BACK UP SERVICE"
[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/sh -c '/vagrant/provisioning/roles/client/files/borg.sh 2>&1 | /usr/bin/logger -t BORG'